#contenido ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#contenido li {
    float: left;
}

#contenido li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
}

#contenido li a:hover {
    background-color: #111;
}